@import '../_variables.scss';

.alert {
  padding: 0.8rem 1rem;
  display: block;
  margin-bottom: 15px;
  font-size: 1.1rem;
  border-radius: 2px;
}

.alert-danger {
  background-color: $error;
  color: white;
}

.alert-warning {
  background-color: $warning;
  color: white;
}

.alert-success {
  background-color: $success;
  color: white;
}

.alert-info {
  background-color: $info;
  color: white;
}

.alert-primary {
  background-color: $primary;
  color: white;
}
